html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
}

body {
    font-family: Lantinghei SC, "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

.nav a {
  position: relative;
  margin-right: 25px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  color: white;
}

.nav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav {
  padding-top: 4px;
    padding-bottom: 4px;
  background-color: black;
}

.jumbotron {
  background-image:url('img/bg.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.jumbotron a {
    font-size: 20px;
    color: #00b0ff;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
   margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow:  0 1px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family:sans-serif 
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  margin-top: 0;
     text-shadow:  0 -1px 1px rgba(0, 0, 0, 0.6);
     text-align: center;
     font-size: 30px
}

.learn-more {
  background-color: #f7f7f7;
  padding-top: 25px;
    padding-bottom: 50px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solod#dbdbdb; 
    height: 200px 
}
.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
    margin-top: 37px;
}
.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
    height:200px;
}

.neighborhood-guides .thumbnail {
    margin: none;
    padding: none;
    border: none;
    background-color: transparent;
    position: relative;
}

.ft{
  background-repeat: no-repeat;
  background-size: cover;
  list-style-type: onoe;
  height: 80px;
}

.ft img {
  margin-left: 180px;
  margin-bottom: 50px;
  margin-top: 50px
}

.ft h1 {
  margin-left: 100px
}

.footer .container {
    overflow: hidden
}

.footer .container .col {
    float: left
}

.footer .container .footer-state {
    clear: left; 
}

.footer ul {
  text-align: left;
}  