/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;  
    padding: 0; 
    border: 0;  
    font-size: 100%;    
    font: inherit;  
    vertical-align: baseline;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    font-size:1em;
    line-height: 1.4;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


img {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    text-align: center;
    margin-bottom:1em;
    background: #fff5b4;
    color: #000;
    padding: 1em 0;
}

.fl{
     float: left;   
}
.fr{
     float: right;   
}

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
    排版
   ========================================================================== */
a{
    color:#428BD1;
    text-decoration:none;
}

a:hover,
a:focus{
    color:#3071A9;
    text-decoration:none;
}

ul,
ol{
    list-style:none;
}

h1 {font-size: 1.25em;margin:1.25em 0;}
h2 {font-size: 1.125em;margin: 1.125em 0;}
h3 {font-size: 1em;margin: 1em 0;}
h4 {font-size: 0.875em;margin: 0.875em 0;}
h5 {font-size: 0.75em;margin: 0.75em 0;}
h6 {font-size: 0.75em;margin: 0.75em 0;}

.mt10{height: 10px;}
.mt15{height: 15px;}
.mt20{height: 20px;}


/*布局*/
#header,
.mainnav,
.center,
.idx-cnt,
.idx-contact,
.cp-txt{
    width: 1020px;
    margin: 0 auto;   
}

#header{
    height: 90px;   
}

#menu{
    height: 40px;   
}
#slider{
    height: 500px; 
    position: relative
}

.idx-ser{
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 20;
}
.center{
    height: 130px;   
}

.idx-abt{
    width: 678px;   
}
.idx-news{
    width: 335px;   
}

.idx-contact{
    height: 110px;   
}
.copyright{
    height: 40px;   
}

/*样式*/
.anotxt{
    display: block;
    text-indent: -9999px;    
}




#main-wrap,
#header{
    background: #fff;   
}


#idx-cnt-wrap{
    background-color: #f3f3f3;   
}

.idx-contact-wrap{
    width: 100%;
    background-color: #525252;   
}

.copyright{
    background-color: #424242;   
}

.social li,
.mainnav li,
.center ul li,
.certificate ul li{
    float: left;
}

/*Nivo Slider样式*/
#slider{
    overflow: hidden;   
}

.slipic-wrap{
    width: 1680px;
    height: 500px;
}

.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width:100% !important;
}

.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}

.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }




/*栏目框架页*/
.channelbg-wrap{
    z-index: 2;
    height: 270px;
    position: relative;
    overflow: hidden;
}

.channelbg{
    z-index: 2;
    width: 1680px;
    height: 270px;
}

.channel-cnt{
    margin: 0 auto;
    background-color: #f3f3f3;
    padding-bottom: 50px;
}

.cc-center-wrap{
    z-index: 3;
    position: relative;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    width: 1020px; 
    margin: 0 auto;
}

/*品牌介绍*/
.brand-cnt p{
    color:#4c4c4c;
    font-size: 0.875em;
    line-height: 2em;
    text-indent:2em ;
    margin:15px 0; 
}

.brand-cnt ul{
    color:#4c4c4c;
    font-size: 0.875em;
    line-height: 2em;
}

.nivo-controlNav{
    margin-top: 15px; 
}

.brand-r{
    width: 800px;   
}

.channel-title-wrap{
    z-index: 3;
    position: absolute;
    top:-90px;
    height: 90px;
    width: 100%;
    background-color: #fff;
}


.brand-cnt-wrap{
    margin: 0 40px 0 15px;    
}

.brand-nav{
    z-index: 2;
    width: 170px;
    position: absolute;
    margin-left: 30px;
}

.brand-nav li a:hover{
    color: #fff;
}
.bn-list .bn-on a{
    background-color: #3a8dc5!important;
    border-left-color: #1568a0!important;
    color: #fff!important;
}


.brand-cnt{
    margin:30px 0 40px 0;    
}


.brand-title{
    width: 745px;
    margin-left: 230px;
    height: 90px;
    border-bottom: 1px solid #b3b3b3;
}

.brand-title div{
    position: relative;
}

.bt-big{
    margin-top: 37px;
    font-size:1.5em;
    line-height: 2.2em;
    color: #b70d1d;
    border-bottom: 3px solid #b70d1d;
}

.bt-position{
    margin-top: 50px;
    font-size: 0.875em;
}

.bt-position p,.bt-position a{
    color: #999;
}


.bt-position span{
    width: 14px;
    height: 19px;
    background-position: -788px -80px;
    display: block;
    margin-right: 20px;
}

.bn-list{
    float:right;
    width: 170px;
    text-align: center;
}

.bn-list li{
    margin-bottom: 2px;   
}

.bn-list li a{
    line-height: 2.5em;
    font-size: 0.875em;
    font-weight: bold;
    display: block;
    height: 40px;
    border-left: 15px solid #e6e6e6;
    background-color: #f3f3f3;
    color: #666;
}
    



/*业务介绍*/
    
.yw-r{
    width: 750px;   
}

.yw-nav{
    width: 224px;
    position: absolute;
    margin-left: 30px;
}

.yw-flow{
    width: 720px;
    height: 90px;
    margin-left: 270px;
}

.yw-flow{
    margin-top: 40px;
    height: 50px;
}

.yw-flow ul li{
    float: left;    
}

.yw-flow ul li a{
    width: 180px;
    height: 50px;
    display: block;
    text-indent: -9999px;   
}


.yw-nav ul li a{
    width: 224px;
    height: 168px;
    display: block;
    text-indent: -9999px;
}

.ywnav-0 a{
    background-position: 0 0;   
}
.ywnav-1 a{
    background-position: -224px 0;  
}
.ywnav-2 a{
    background-position: -448px 0;  
}
.ywnav-0 a:hover,.ywnav-0 .ywn-on{
    background-position: 0 -168px;  
}
.ywnav-1 a:hover,.ywnav-1 .ywn-on{
    background-position: -224px -168px; 
}
.ywnav-2 a:hover,.ywnav-2 .ywn-on{
    background-position: -448px -168px; 
}

.yw-point{
    margin-bottom: 30px;
}

.yw-point h1{
    font-size: 1.5em;
    color: #666;
    margin-top: 0;
}
.yw-point ul{
    list-style:disc;    
}
.yw-point img{
    margin: 0;  
}

.gf-cnt-1{
    width: 300px;   
}
.gf-cnt-1 p{
    margin-right: 20px; 
}
.gf-cnt-2{
    width: 380px;   
}
.gf-cnt-2 ul,.gf-cnt-2 h1{
    margin-left: 20px;
}
.gf-cnt-3{
    width: 420px;   
}

.gf-cnt2-1 h1,.gf-cnt2-1 ul,.gf-cnt2-2 h1,.gf-cnt2-2 ul{
    margin: 20px 0 0 60px;
}

.gf-al-wrap{
    margin-top: 15px;   
}
.gf-al{
    display: none;
    background-color: #e8f3fb;
    padding-top: 1px;
}
#gf-al1{
    border-bottom: 2px solid #379bee;
}
#gf-al2{
    border-bottom: 2px solid #e05b49;
}
.gf-al p{
    margin: 20px 30px;
}



